*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-video{
    position: ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.top-text{
    position: absolute;
}


.brand-logo img{
    width: 90px;
    height: 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

  
    
}

.nav-menu li{
    display: inline;
    font-size: 23px;
    color: black;
  
    
    
}

.nav-menu a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 20px;
}

